.container {
  /* border: 10px solid green; */
  text-align: center;
  height: 100vh;
}

.title {
  color: #FAF3E3;
  font-size: 4rem;
  margin: 0;
  padding: 4rem;
}

.bttn {
  padding: 1rem;
  background: #FF9F29;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}

.bttn:hover {
  cursor: pointer;
  background-color: #FAF3E3;
}

.hero {
  background-image: url("../images/landing-backg2.jpg");
  /* background-color: #cccccc; */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}