.global {
  border: none;
  padding: 5px;
}

.inp {

}

.btt {
  font-family: 'Courier New', Courier, monospace;
  background-color: #FAF3E3;
}

.btt:hover {
  cursor: pointer;
  background-color: #FF9F29;
}